body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #303030;
	font-size: 100%;
}
.navigation {
	position: absolute;
	top: 0;
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: 100%;
	grid-template-rows: 9.95918367346939% 5.22448979591837% 73.9591836734694% 8.24489795918367% 2.61224489795918%;
	justify-items: stretch;
	align-items: stretch;
	pointer-events: none;
}

.navigation > div {
	display: flex;
	justify-content: space-between;
}
.button {
	pointer-events: all;
}
#prev {
	text-align: left;
}
#logo {
	text-align: center;
}
#next {
	text-align: right;
}
.button:active {
	opacity: 70%;
}
#nav {
	background-color: white;
	padding-top: 2vh;
	padding-bottom: 2vh;
	padding-left: 1vh;
	padding-right: 1vh;
}
#nav > div > img {
	max-width: 100%;
    max-height: 100%;
}
#article {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding-left: 1%;
	padding-right: 1%;
	font-size: 3vh;
	align-items: center;
}
#article > #label {
	font-weight: 400;
}
#article > #price {
	font-weight: 300;
}
#shop_button_area {
	justify-content: center;
}
#shop_link {
	pointer-events: all;
	background-color: #F0F0F0;
	padding-left: 8%;
	padding-right: 8%;
	filter: drop-shadow(8px 10px 0 rgba(0, 0, 0, 0.0625));

	text-align: center;
	font-size: 4vh;
	font-weight: 700;
	display: flex;
	align-items: center;
}
a:link {
	text-decoration: none;
	color: #303030;
}

a:visited {
	text-decoration: none;
	color: #303030;
}

a:hover {
	text-decoration: none;
	color: #303030;
}

a:active {
	text-decoration: none;
	color: #303030;
}
